<article>
  <h1>Contact</h1>
  <p>Si vous souhaitez contacter <em>OnlineShop</em>, veuillez utiliser les coordonnées suivantes.</p>
  <section class="row contact-info" aria-label="Informations de contact">
    <div class="col">
      <i class="fa fa-mobile fa-5x"></i><br>
      <a href="tel:5143404711">(514) 340-4711</a>
    </div>
    <div class="col">
      <i class="fa fa-map-marker fa-5x"></i>
      <p class="address">
        2900, boul. Édouard-Montpetit<br>
        Montréal (Québec)<br>
        H3T 1J4
      </p>
    </div>
    <div class="col">
      <i class="fa fa-envelope fa-5x"></i><br>
      <a href="mailto:onlieshop@polymtl.ca">onlineshop@polymtl.ca</a>
    </div>
  </section>
</article>
