extends layout.pug

block main
  article
    h1
      | Votre commande est confirm&eacute;e 
      span#name
      | !
    p
      | Votre num&eacute;ro de confirmation est le 
      strong#confirmation-number
      | .
