block main
  article
    h1 Panier
    #shopping-cart-container
      table.table.shopping-cart-table
        thead
          tr
            th
            th Produit
            th Prix unitaire
            th Quantit&eacute;
            th Prix
        tbody
      p.shopping-cart-total
        | Total: 
        strong#total-amount
      a.btn.pull-right(href='./order.html')
        | Commander 
        i.fa.fa-angle-double-right
      button#remove-all-items-button.btn
        i.fa.fa-trash-o
        | &nbsp; Vider le panier
block scripts
  script(type='text/javascript' src='./assets/scripts/products.service.js')
  script(type='text/javascript' src='./assets/scripts/shopping-cart.service.js')
  script(type='text/javascript' src='./assets/scripts/shopping-cart.controller.js')
