<article>
  <h1>Panier</h1>
  <div *ngIf="!loading && items.length > 0">
  <table class="table shopping-cart-table">
    <thead>
    <tr>
      <th></th>
      <th>Produit</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Prix</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>
          <button class="remove-item-button" title="Supprimer" (click)="delete(item.id)">
            <i class="fa fa-times"></i>
          </button>
        </td>
        <td>
          <a routerLink="/produits/{{item}}">{{item.name}}</a>
        </td>
        <td>{{item.price}}&thinsp;$</td>
        <td>
          <div class="row">
            <div class="col">
              <button class="remove-quantity-button" title="Retirer" [disabled]="item.quantity<2" (click)="remove(item.id)"><i class="fa fa-minus"></i></button>
            </div>
            <div class="col quantity">{{item.quantity}}</div>
            <div class="col">
              <button class="add-quantity-button" title="Ajouter" (click)="add(item.id)"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </td>
        <td class="price">{{(item.price*item.quantity).toFixed(2)}}&thinsp;$</td>
      </tr>
    </tbody>
  </table>
  <p class="shopping-cart-total">Total: <strong id="total-amount">{{total.toFixed(2)}}&thinsp;$</strong></p>
  <a class="btn pull-right" routerLink="/commande">Commander <i class="fa fa-angle-double-right"></i></a>
<button class="btn" id="remove-all-items-button" (click)="deleteAll()"><i class="fa fa-trash-o"></i>&nbsp; Vider le panier</button>
</div>
<p *ngIf="!loading && !(items.length > 0) ">Aucun produit dans le panier.</p>
</article>
