<section class="sidebar" aria-label="Filtres">
  <section>
    <h2>Catégories</h2>
    <div class="btn-group vertical" id="product-categories">
      <button *ngFor="let category of categories; let i = index" (click)="getCategory($event)" [value]="category.key" [class.selected]="category.key === selectedCategory">{{category.name}}</button>
    </div>
  </section>
  <section>
    <h2>Classement</h2>
    <div class="btn-group vertical" id="product-criteria">
      <button *ngFor="let criteria of criterias; let i = index" (click)="getCriteria($event)" [value]="criteria.key" [class.selected]="criteria.key === selectedCriteria">{{criteria.name}}</button>
    </div>
  </section>
</section>
<article>
  <span class="right-header" id="products-count">{{products?.length}} produits</span>
  <h1>Produits</h1>
  <div *ngIf="!loading">
    <div class="products" id="products-list">
      <div class="product" *ngFor="let currProduct of products">
        <a routerLink="/produits/{{currProduct.id}}" title="En savoir plus...">
          <h2>{{currProduct.name}}</h2>
          <img alt="{{currProduct.name}}" src="./assets/img/{{currProduct.image}}">
          <p><small>Prix</small> {{currProduct.price}}&thinsp;$</p>
        </a>
      </div>
    </div>
  </div>
</article>
